[user]
	email = lvjx22@gmail.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[http]
	postBuffer = 1048576000
	maxRequestBuffer = 1048576000
[core]
	compression = 0
[lfs "customtransfer.xet"]
	path = git-xet
	args = transfer
	concurrent = true
